/* global styles */
* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;

	background: linear-gradient(-45deg, yellow, red, green, blue, lightblue);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
/* block styling */
a {
    text-decoration: none;
}
h1, h3, .container, .settings {
    margin: 1vh 1vw;
    padding: 5vh 5vw;
    border-radius: 2vh;
    background-color: #515151;
}
h1:hover, h3:hover, .container:hover, .settings:hover {
    box-shadow: 1vw 1vh black;
}
button {
    font-size: large;
    background-color: #202020;
    margin: 2px;
}
button:hover {
    padding: 3px;
    margin: 0;
}
input[type=color] {
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
input[type=color]::-webkit-color-swatch {
    border-radius: 1vh;
    border: none;
}
input[type=color]::-moz-color-swatch {
    border-radius: 1vh;
    border: none;
}
/* flex elements */
header, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    flex: 1;
    flex-wrap: wrap;
}
.settings {
    display: flex;
    flex-direction: column;
}

/* animation settings */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}